[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Dd]ebug/
*.csproj
*.sln
*.userprefs
UserSettings/

.vsconfig
Assets/Resources/tilemaptxt.txt
.vs/LightGameJam/FileContentIndex/06037a98-c713-4e77-8de4-235ec5ab6d82.vsidx
.vs/LightGameJam/FileContentIndex/0cbaf432-9472-45ab-b6fd-5de235705652.vsidx
.vs/LightGameJam/FileContentIndex/06037a98-c713-4e77-8de4-235ec5ab6d82.vsidx
.vs/LightGameJam/FileContentIndex/2047a66c-be1b-4c17-bd5d-71a1b53e3371.vsidx
.vs/LightGameJam/FileContentIndex/2cdf0a66-057b-4d75-894f-815ab608c139.vsidx
*.vsidx
